<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hostxin.android.common">
    <application>
        <receiver android:name="com.hostxin.android.common.NetworkReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
